@font-face {
  font-family: "delius";
  src: url(../assets/Delius-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.cookie_img {
  max-width: 100px;
}
body {
  font-family: "delius";
  color: rgb(43, 29, 22);
  background-color: #e6aba0;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.cookie_btn {
  border: none;
  background-color: transparent;
}
.cookie_btn:active {
  transform: scale(0.9);
}
