@font-face {
  font-family: "delius";
  src: url(../assets/Delius-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "delius";
  color: rgb(43, 29, 22);
  background-color: #e6aba0;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.CookieClicker {
  display: grid;
  grid-column: 1/2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.cookie_img {
  max-width: 200px;
}

.cookie_btn {
  border: none;
  background-color: transparent;
}
.cookie_btn:active {
  transform: scale(0.9);
}
.cursor {
  cursor: default;
}
